<!--<div data-bind="text: JSON.stringify($parent)"></div>-->

<nav class="sidebar-list" data-bind="foreach: {data: wingList, as: 'wing'}">
    <div class="item active">
        <a href="#"><span data-bind="text: wing"></span></a>
    </div>

    <div data-bind="foreach: {data: $parent.getRoomsByWing(wing), as: 'room'}">
        <div class="item setitem active">
            <a data-bind="attr: {href: '?page=room&roomId='+room.roomId}"><span data-bind="text: room.roomId"></span></a>
        </div>
    </div>
</nav>
