<html>
<body>
<div style="height: 600px;width: 500px;overflow: hidden;margin: 0 auto;">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
	 width="1500px" height="1500px" viewBox="0 0 500 500" enable-background="new 0 0 1280 1760.25" xml:space="preserve">
<rect x="8.657" y="7.343" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="110.896" height="162.157"/>
<rect x="18.806" y="15.104" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="33.88" height="48.896"/>
<rect x="76.806" y="15.104" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="33.88" height="48.896"/>
<rect x="18.807" y="94.299" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="33.88" height="48.895"/>
<rect x="76.806" y="85.799" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="33.88" height="64.201"/>
<rect x="96.978" y="136.656" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="81.978" y="20.75" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="81.978" y="47.316" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="96.978" y="47.316" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="23.62" y="20.75" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="23.62" y="47.316" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="38.62" y="47.316" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="23.62" y="100.836" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="23.62" y="127.402" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="38.62" y="127.402" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="81.618" y="89.586" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="81.618" y="116.152" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
<rect x="96.618" y="116.152" fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" width="9.254" height="9.254"/>
</svg>
</div>

</body>
</html>
