some Room, or not!

<div class="room-container layout-groups">

    <div class="table-group">
        <div class="device top"></div>
        <div class="device bot-left"></div>
        <div class="device bot-right"></div>
    </div>
    <div class="table-group">
        <div class="device top"></div>
        <div class="device bot-left"></div>
        <div class="device bot-right"></div>
    </div>
    <div class="table-group">
        <div class="device top"></div>
        <div class="device bot-left"></div>
        <div class="device bot-right"></div>
    </div>
    <div class="table-group extended">
        <div class="device top"></div>
        <div class="device bot-left"></div>
        <div class="device bot-right"></div>
        <div class="device bottom"></div>
    </div>

</div>
