.room-container {
  align-items: flex-start;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  width: 100%; }

.table-group {
  border: 1px solid black;
  box-sizing: border-box;
  height: 30%;
  margin: 4% 4%;
  position: relative;
  width: 40%; }
  .table-group.teacher-desk {
    bottom: 5%;
    height: 10%;
    left: 60%;
    margin: 0;
    position: absolute;
    width: 20%; }

.device {
  border: 2px solid black;
  cursor: pointer;
  height: 50px;
  position: absolute;
  width: 50px; }
  .device.top {
    left: 20%;
    top: 10%; }
  .device.bot-right {
    bottom: 20%;
    right: 10%; }
  .device.bot-left {
    bottom: 20%;
    left: 10%; }
  .device:hover {
    border: 2px solid blue; }
