.room-container {
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  position: relative;
  margin-bottom: 200px; }

.table-group {
  position: relative;
  float: left;
  width: 40%;
  border: 2px solid #333;
  height: 30%;
  margin-bottom: 5%;
  padding: 2.5% 0 2.5% 2.5%;
  box-sizing: border-box; }
  .table-group.teacher-desk {
    height: 20%;
    margin: 0px 5% 5% 0px;
    position: relative;
    float: right;
    bottom: 0;
    left: 0; }
    .table-group.teacher-desk .device {
      height: 95%; }
  .table-group:nth-of-type(even) {
    margin-left: 20%; }

.device {
  height: 45%;
  width: 45%;
  margin: 0 5% 5% 0; }
  .device.top {
    left: 0;
    top: 0; }
  .device.bot-right {
    right: 0;
    bottom: 0; }
  .device.bot-left {
    left: 0;
    bottom: 0; }
  .device.filler {
    background-color: transparent;
    pointer-events: none; }
  .device:hover {
    /*border: 2px solid blue;*/
    border: none; }
  .device span {
    position: relative;
    top: 40%;
    translateY: -50%; }
