.room-container {
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 100%;
  width: 100%;
  padding: 20px;
  position: relative;
  margin-bottom: 200px; }

.tableCircular {
  height: 75%;
  width: 100%;
  box-sizing: border-box;
  display: block; }
  .tableCircular tr {
    height: 20%; }
  .tableCircular td {
    width: 20%; }

.table-group {
  position: relative;
  float: left;
  width: 30%;
  border: 2px solid #333;
  height: 20%;
  margin: 2.5% 2.5% 0 0;
  padding: 2.5% 0 2.5% 2.5%;
  box-sizing: border-box; }
  .table-group.teacher-desk {
    height: 20%;
    position: relative;
    float: right;
    bottom: 0;
    left: 0; }
    .table-group.teacher-desk .device {
      height: 95%;
      width: 45%; }

.device {
  height: 20%;
  width: 20%;
  border: 3px solid #eeeeee; }
  .device.filler {
    background-color: transparent;
    text-align: center;
    pointer-events: none;
    border: none; }
  .device.empty {
    background-color: transparent;
    pointer-events: none;
    border: none; }
  .device.connector {
    background-color: #ccc;
    pointer-events: none; }
  .device span, .device h3 {
    position: relative;
    top: 40%;
    translateY: -50%; }
