some Room, or not!

<div class="room-container">

    <div class="table-group">
        <div class="device top"></div>
        <div class="device bot-left"></div>
        <div class="device bot-right"></div>
    </div>
    <div class="table-group">
        <div class="device top"></div>
        <div class="device bot-left"></div>
        <div class="device bot-right"></div>
    </div>
    <div class="table-group">
        <div class="device top"></div>
        <div class="device bot-left"></div>
        <div class="device bot-right"></div>
    </div>
    <div class="table-group">
        <div class="device top"></div>
        <div class="device bot-left"></div>
        <div class="device bot-right"></div>
    </div>

    <div class="table-group teacher-desk">
        <div class="device"></div>
    </div>
</div>
